* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: None;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

footer p {
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: #00ffcc;
}

.social-icon i {
    display: block;
}


.social-icon i.fa-linkedin {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}

.social-icon i.fa-github {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}


